@import url(https://fonts.googleapis.com/css?family=Courgette|Source+Sans+Pro:400,700|Lora:400,700,700italic|Montserrat:400,700|PT+Sans:400,700italic,700|Roboto+Slab:400,700|Droid+Serif:400,700,700italic|Merriweather:400,700,700italic|Arimo:400,700,700italic|Indie+Flower|Roboto|Titillium+Web:400,700,700italic|PT+Serif:400,700,700italic|Lobster|Lobster+Two:400,700,700italic|Cabin:400,700,700italic|Cabin+Condensed|Cabin+Sketch:400,700|Old+Standard+TT:400,700|Abril+Fatface|Gravitas+One|Amaranth:400,700,700italic|Ledger|Signika:400,700|Dancing+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Audiowide|Bangers|Bungee+Inline|Cabin+Sketch|Freckle+Face|Fredericka+the+Great|Frijole|Leckerli+One|Love+Ya+Like+A+Sister|Patrick+Hand|Press+Start+2P|Shojumaru|Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee+Shade|Ceviche+One|Creepster|Emilys+Candy|Finger+Paint|Freckle+Face|Kaushan+Script|Knewave|Lemonada|Metamorphous|Miltonian|Permanent+Marker|Rye|Shojumaru|Shrikhand|Skranji|Slackey|Unlock|Vast+Shadow);
/*
both:
'Courgette', cursive; 'Dancing Script', cursive; 'Lobster', cursive;
'Source Sans Pro', sans-serif;  --> italic is better
'Roboto Slab', serif;  , 'PT Sans', sans-serif;  ,  'Cabin', sans-serif;, 'Signika', sans-serif;,'Lora', serif; 'PT Serif', serif;
, 'Droid Serif', serif; --> very readable and clean
'Montserrat', sans-serif; --> italic better
'Abril Fatface', cursive;  --> heavy
'Ledger', serif; --> very readable (the-ten letter-spacing:-0.2vw)

font-family: 'Bangers', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Leckerli One', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Frijole', cursive;


font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Metamorphous', cursive;
font-family: 'Unlock', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Skranji', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Ceviche One', cursive;
font-family: 'Freckle Face', cursive;
font-family: 'Knewave', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Shojumaru', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Lemonada', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Rye', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Creepster', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Slackey', cursive;
*/