@import "all-fonts";
/*variables*/
$typeface-family: Times New Roman, Times, serif;
$typeface-family-digit: "Roboto Slab", serif;
$card-width: 100%;
$card-height: 100%;
$suit-size-adj: 0.66;
$card-font-size: 2.5em;
$backface-font-size: 27em;
$bkgrd-suit-top-margin: 0;
/*3em*/
$card-border-radius: 5%;
$border-suit-size: $suit-size-adj*3.5em;
/*3.5em*/
$border-rank-size: 2.75em;
$central-rank-font-size: 2.5em;
$KQJ-rank-mod: 4.5;
$central-rank-mod: $suit-size-adj*5;
$background-suit-mod: $suit-size-adj*6;
$central-suit-size-mod: $suit-size-adj*1.7;
$center-suit-size-mod: $suit-size-adj*1.8;
$joker-size-mod: 0.8;
$bkg-suit-display: none;
/*columns sizing*/
$border-offset: 2%;
$border-offset-tb: 2%;
$border-offset-lr: 2%;
$border-offset-center-top: 2%;
$side-col-width: 18%;
$center-col-width: 60%;
$center-col-height: 96%;
/*colors*/
$cards-background-color: black;
$cards-backface-color: #111;
$spades-color: white;
$clubs-color: #b0bec5;
$diams-color: red;
$hearts-color: #ff1744;
/*background colors*/
$spades-background-color: $cards-background-color;
$clubs-background-color: $cards-background-color;
$diams-background-color: $cards-background-color;
$hearts-background-color: $cards-background-color;
$backface-top-background: $hearts-color;
$backface-top-color: $cards-background-color;
$backface-bottom-background: $cards-background-color;
$backface-bottom-color: $diams-color;
/*prefix config*/
$prefix-extend: "icon";