@import url(https://fonts.googleapis.com/css?family=Courgette|Source+Sans+Pro:400,700|Lora:400,700,700italic|Montserrat:400,700|PT+Sans:400,700italic,700|Roboto+Slab:400,700|Droid+Serif:400,700,700italic|Merriweather:400,700,700italic|Arimo:400,700,700italic|Indie+Flower|Roboto|Titillium+Web:400,700,700italic|PT+Serif:400,700,700italic|Lobster|Lobster+Two:400,700,700italic|Cabin:400,700,700italic|Cabin+Condensed|Cabin+Sketch:400,700|Old+Standard+TT:400,700|Abril+Fatface|Gravitas+One|Amaranth:400,700,700italic|Ledger|Signika:400,700|Dancing+Script:400,700);
/*variables*/
/*
both: 
'Courgette', cursive; 'Dancing Script', cursive; 'Lobster', cursive;
'Source Sans Pro', sans-serif;  --> italic is better
'Roboto Slab', serif;  , 'PT Sans', sans-serif;  ,  'Cabin', sans-serif;, 'Signika', sans-serif;,'Lora', serif; 'PT Serif', serif; , 'Droid Serif', serif; --> very readable and clean
'Montserrat', sans-serif; --> italic better
'Abril Fatface', cursive;  --> heavy
'Ledger', serif; --> very readable (the-ten letter-spacing:-0.2vw)
*/
/*shadows*/
/*colors*/
/*background colors*/
/*red and pink can both be a little bit darker in multicolour*/
/*mixins*/
.double-shadow {
  -webkit-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
}
body {
  background: #eee;
}
.left-suit,
.right-suit,
.center-suit,
.backgrd-suit {
  font-family: Times New Roman, Times, serif;
}
.digit {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  /*with dancing script*/
}
.spades {
  color: #2222ff;
}
.clubs {
  color: #009900;
}
.hearts {
  color: #dd00dd;
}
.diams {
  color: #ff0000;
}
div.fulldeck {
  height: auto;
  width: auto;
  position: relative;
  margin: 30px 0px 30px 0px;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-width: 0;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.card-wrapper-normal {
  position: relative;
  width: 6vw;
  height: 9vw;
  font-size: 0.48vw;
  margin: auto;
  background: #dddddd;
  border-radius: 5%;
  -webkit-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
}
.card-wrapper-normal.the-deuce .backgrd-suit,
.card-wrapper-normal.the-three .backgrd-suit,
.card-wrapper-normal.the-four .backgrd-suit,
.card-wrapper-normal.the-five .backgrd-suit,
.card-wrapper-normal.the-six .backgrd-suit,
.card-wrapper-normal.the-seven .backgrd-suit,
.card-wrapper-normal.the-eight .backgrd-suit,
.card-wrapper-normal.the-nine .backgrd-suit,
.card-wrapper-normal.the-ten .backgrd-suit,
.card-wrapper-normal.the-deuce .central-rank,
.card-wrapper-normal.the-three .central-rank,
.card-wrapper-normal.the-four .central-rank,
.card-wrapper-normal.the-five .central-rank,
.card-wrapper-normal.the-six .central-rank,
.card-wrapper-normal.the-seven .central-rank,
.card-wrapper-normal.the-eight .central-rank,
.card-wrapper-normal.the-nine .central-rank,
.card-wrapper-normal.the-ten .central-rank {
  display: none;
}
.card-wrapper-normal.spades {
  background: #d5a000;
}
.card-wrapper-normal.clubs {
  background: #dddddd;
}
.card-wrapper-normal.diams {
  background: #003333;
}
.card-wrapper-normal.hearts {
  background: #222222;
}
.card-wrapper-small {
  position: relative;
  width: 6vw;
  height: 9vw;
  font-size: 0.48vw;
  margin: auto;
  background: #dddddd;
  border-radius: 5%;
  -webkit-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
  box-shadow: 0 1.2vw 2.4vw rgba(0, 0, 0, 0.3), 0 0.96vw 0.84vw rgba(0, 0, 0, 0.22);
}
.card-wrapper-small.the-deuce .left-col,
.card-wrapper-small.the-three .left-col,
.card-wrapper-small.the-four .left-col,
.card-wrapper-small.the-five .left-col,
.card-wrapper-small.the-six .left-col,
.card-wrapper-small.the-seven .left-col,
.card-wrapper-small.the-eight .left-col,
.card-wrapper-small.the-nine .left-col,
.card-wrapper-small.the-ten .left-col,
.card-wrapper-small.the-deuce .middle-col,
.card-wrapper-small.the-three .middle-col,
.card-wrapper-small.the-four .middle-col,
.card-wrapper-small.the-five .middle-col,
.card-wrapper-small.the-six .middle-col,
.card-wrapper-small.the-seven .middle-col,
.card-wrapper-small.the-eight .middle-col,
.card-wrapper-small.the-nine .middle-col,
.card-wrapper-small.the-ten .middle-col,
.card-wrapper-small.the-deuce .right-col,
.card-wrapper-small.the-three .right-col,
.card-wrapper-small.the-four .right-col,
.card-wrapper-small.the-five .right-col,
.card-wrapper-small.the-six .right-col,
.card-wrapper-small.the-seven .right-col,
.card-wrapper-small.the-eight .right-col,
.card-wrapper-small.the-nine .right-col,
.card-wrapper-small.the-ten .right-col {
  display: none;
}
.card-wrapper-small .left-suit,
.card-wrapper-small .right-suit {
  font-size: 420%;
}
.card-wrapper-small .left-rank,
.card-wrapper-small .right-rank {
  font-size: 360%;
}
.card-wrapper-small.spades {
  background: #d5a000;
}
.card-wrapper-small.clubs {
  background: #dddddd;
}
.card-wrapper-small.diams {
  background: #003333;
}
.card-wrapper-small.hearts {
  background: #222222;
}
.left-column,
.right-column {
  width: 15%;
  position: absolute;
  text-align: center;
}
.left-column {
  left: 0;
  top: 0;
}
.right-column {
  right: 0;
  bottom: 0;
}
.left-suit {
  font-size: 350%;
  font-weight: bold;
  margin-left: 8%;
}
.left-rank {
  font-size: 300%;
  font-weight: bold;
  margin-left: 8%;
}
.right-suit {
  display: block;
  font-size: 350%;
  font-weight: bold;
  margin-right: 8%;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.right-rank {
  display: block;
  font-size: 300%;
  font-weight: bold;
  margin-right: 8%;
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.center-column {
  position: absolute;
  left: 15%;
  top: 0;
  width: 70%;
  height: 100%;
}
.center-suit {
  font-size: 2.16vw;
  width: 100%;
  margin: auto;
  text-align: center;
}
.up-side-down {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.left-col,
.right-col {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-height: 0;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 33%;
  height: 100%;
}
.left-col {
  left: 0;
}
.right-col {
  right: 0;
}
.middle-col {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-height: 0;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  position: absolute;
  left: 33%;
  top: 0;
  width: 34%;
  height: 100%;
}
.central-rank {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  min-height: 0;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.central-rank > div {
  font-size: 1100%;
  line-height: 100%;
  margin: auto;
  text-align: center;
}
.backgrd-suit {
  text-align: center;
  vertical-align: middle;
}
.backgrd-suit > div {
  opacity: 0.35;
  font-size: 1900%;
  line-height: 92%;
}
.the-ten .digit {
  letter-spacing: -0.2vw;
}
.the-ten .left-col,
.the-ten .right-col {
  line-height: 100%;
}
.the-ten .center-column .center-suit {
  font-size: 400%;
}
.the-ten.card-wrapper-small .central-rank > .digit {
  letter-spacing: -0.8vw;
  font-size: 950%;
  margin-left: -0.1vw;
}
.the-nine .left-col,
.the-nine .right-col {
  line-height: 100%;
}
